@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .click-btn{
        transition: 0.5s all ease;
        color:white;
        @apply bg-blue-900
    }

    .bg-yellow-300{
        background-color:red;
        padding:10px
    }
}

@layer base{
    a{
        background-color:yellow;
        padding:3px
    }
}

@layer components{
    .box1{
        background-color:skyblue;
        margin-bottom:5px
    }
    .box2{
        @apply bg-emerald-200
    }
}
